<header class="site__header">

  <!-- site__header-column -->
  <div class="site__header-column">

    <!-- logo -->
    <a href="#" class="logo">
      <%= image_tag( "logo.png") %>
    </a>
    <!-- /logo -->

    <h1 class="site__title">TV Program</h1>

  </div>
  <!-- /site__header-column -->

  <!-- site__header-column -->
  <div class="site__header-column site__header-column_buttons">

    <input type="text" class="tvShow-date">

    <button class="tvShow-lang">

      <select>
        <option value="ua">UA</option>
        <option value="ru">RU</option>
      </select>

    </button>

  </div>
  <!-- /site__header-column -->

</header>